/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(236,173,228,1) 47%, rgba(156,152,248,1) 80%);
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 85vh;
    height: 55vh;
    background-color: white;
    margin-top: 25vh;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    flex-direction: column;
    padding: 15px;
}

.container input{
    padding: 12px;
    margin-bottom: 5px;
    font-size: 20px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
}

.container input:focus{
    box-shadow: 2px 5px 5px #88888a;
}

.container button{
    padding: 12px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #999;
    border-radius: 4px;
    outline: none;
    background-color: rgb(238, 129, 223);
    border: none;
    color: white;
    cursor: pointer;
}


.container button.active{
    background-color: #9935c0;
}

.container button.active:active{
    transform: scale(0.99);
}


.text{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.text p{
    font-size: 18px;
    margin: 8px 0;
    line-height: 1.1;
}

.text h1{
    font-weight: lighter;
}

.info-text{
    margin: 5px 0;
    font-size: 20px;
    visibility: hidden;
}

.info-text span{
    color: #9935c0;
}


